absl-py==1.0.0
clu==0.0.6
flax==0.3.6
jax==0.2.21
--find-links https://storage.googleapis.com/jax-releases/jax_releases.html
jaxlib==0.1.70+cuda110  # Make sure CUDA version matches the base image.
ml-collections==0.1.0
numpy==1.21.4
optax==0.1.0
tensorflow==2.7.0
tensorflow-datasets==4.4.0
