*~
\#*\#
*.pyc
.tfds
.DS_Store
dist/
build/
*.egg-info
*.rej
.pytype
.vscode/*
/.devcontainer
docs*/**/_autosummary
docs*/_build
docs*/**/tmp
flaxlib_src/build
flaxlib_src/builddir
flaxlib_src/dist
flaxlib_src/subprojects

# used by direnv
.envrc

# custom
/tmp-files
