sphinx>=3.3.1
sphinx-book-theme
Pygments>=2.6.1
jax>=0.3
jaxlib
ipykernel
myst_nb
recommonmark
ipython_genutils
sphinx-design
jupytext==1.13.8

# Need to pin docutils to 0.16 to make bulleted lists appear correctly on
# ReadTheDocs: https://stackoverflow.com/a/68008428
docutils==0.16

# The next packages are for notebooks.
matplotlib
scikit-learn
# Must install flax itself for notebook execution and autodocs to work.
.
# The next packages are used in testcode blocks.
ml_collections
tensorflow
tensorflow_datasets

# notebooks
einops
transformers[flax]
