sphinx>=3.3.1
sphinx_rtd_theme
Pygments>=2.6.1
jax>=0.1.59
jaxlib>=0.1.41
ipykernel
nbsphinx
recommonmark
sphinx_markdown_tables

# Need to pin docutils to 0.16 to make bulleted lists appear correctly on
# ReadTheDocs: https://stackoverflow.com/a/68008428
docutils==0.16

# The next packages are for notebooks.
matplotlib
sklearn
# Must install flax itself for notebook execution and autodocs to work.
.
# The next packages are used in testcode blocks.
ml_collections
tensorflow
tensorflow_datasets